# Servidor
PORT=3000
NODE_ENV=development

# Base de dados (Neon)
DATABASE_URL=postgresql://usuario:senha@host:5432/connectmoz258

# JWT
JWT_SECRET=coloque_uma_chave_secreta_aqui

# Cloudinary
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret

# WhatsApp
WHATSAPP_NUMBER=258840000000
